/Thesis/main-tmp/bsc_thesis_Jonas.aux
/Thesis/main-tmp/bsc_thesis_Jonas.fdb_latexmk
/Thesis/main-tmp/bsc_thesis_Jonas.fls
/Thesis/main-tmp/bsc_thesis_Jonas.log
/Thesis/main-tmp/bsc_thesis_Jonas.out
/Thesis/main-tmp/bsc_thesis_Jonas.toc
/Thesis/bib.bib.bak
/Thesis/bsc_thesis_Jonas.fls
/Thesis/bsc_thesis_Jonas.synctex.gz
/Thesis/main-tmp/bsc_thesis_Jonas.bbl
/Thesis/main-tmp/bsc_thesis_Jonas.blg
